
src/main/resources/wiki.lucene/_0.cfe
src/main/resources/wiki.lucene/_0.cfs
src/main/resources/wiki.lucene/_0.si
src/main/resources/wiki.lucene/_1.cfe
src/main/resources/wiki.lucene/_1.cfs
src/main/resources/wiki.lucene/_1.si
src/main/resources/wiki.lucene/_d.fdt
src/main/resources/wiki.lucene/_d.fdx
src/main/resources/wiki.lucene/_d.fnm
src/main/resources/wiki.lucene/_d.nvd
src/main/resources/wiki.lucene/_d.nvm
src/main/resources/wiki.lucene/_d.si
src/main/resources/wiki.lucene/_d_Lucene50_0.doc
src/main/resources/wiki.lucene/_d_Lucene50_0.pos
src/main/resources/wiki.lucene/_d_Lucene50_0.tim
src/main/resources/wiki.lucene/_d_Lucene50_0.tip
src/main/resources/wiki.lucene/_n.fdt
src/main/resources/wiki.lucene/_n.fdx
src/main/resources/wiki.lucene/_n.fnm
src/main/resources/wiki.lucene/_n.nvd
src/main/resources/wiki.lucene/_n.nvm
src/main/resources/wiki.lucene/_n.si
src/main/resources/wiki.lucene/_n_Lucene50_0.doc
src/main/resources/wiki.lucene/_n_Lucene50_0.pos
src/main/resources/wiki.lucene/_n_Lucene50_0.tim
src/main/resources/wiki.lucene/_n_Lucene50_0.tip
src/main/resources/wiki.lucene/_o.cfe
src/main/resources/wiki.lucene/_o.cfs
src/main/resources/wiki.lucene/_o.si
src/main/resources/wiki.lucene/_p.cfe
src/main/resources/wiki.lucene/_p.cfs
src/main/resources/wiki.lucene/_p.si
src/main/resources/wiki.lucene/_q.cfe
src/main/resources/wiki.lucene/_q.cfs
src/main/resources/wiki.lucene/_q.si
src/main/resources/wiki.lucene/_r.cfe
src/main/resources/wiki.lucene/_r.cfs
src/main/resources/wiki.lucene/_r.si
src/main/resources/wiki.lucene/_s.cfe
src/main/resources/wiki.lucene/_s.cfs
src/main/resources/wiki.lucene/_s.si
src/main/resources/wiki.lucene/_t.cfe
src/main/resources/wiki.lucene/_t.cfs
src/main/resources/wiki.lucene/_t.si
src/main/resources/wiki.lucene/_u.cfe
src/main/resources/wiki.lucene/_u.cfs
src/main/resources/wiki.lucene/_u.si
src/main/resources/wiki.lucene/_v.cfe
src/main/resources/wiki.lucene/_v.cfs
src/main/resources/wiki.lucene/_v.si
src/main/resources/wiki.lucene/_w.cfe
src/main/resources/wiki.lucene/_w.cfs
src/main/resources/wiki.lucene/_w.si
src/main/resources/wiki.lucene/segments_1
src/main/resources/wiki.lucene/write.lock
target/classes/wiki.lucene/_0.cfe
target/classes/wiki.lucene/_0.cfs
target/classes/wiki.lucene/_0.si
target/classes/wiki.lucene/_1.cfe
target/classes/wiki.lucene/_1.cfs
target/classes/wiki.lucene/_1.si
target/classes/wiki.lucene/_d.fdt
target/classes/wiki.lucene/_d.fdx
target/classes/wiki.lucene/_d.fnm
target/classes/wiki.lucene/_d.nvd
target/classes/wiki.lucene/_d.nvm
target/classes/wiki.lucene/_d.si
target/classes/wiki.lucene/_d_Lucene50_0.doc
target/classes/wiki.lucene/_d_Lucene50_0.pos
target/classes/wiki.lucene/_d_Lucene50_0.tim
target/classes/wiki.lucene/_d_Lucene50_0.tip
target/classes/wiki.lucene/_n.fdt
target/classes/wiki.lucene/_n.fdx
target/classes/wiki.lucene/_n.fnm
target/classes/wiki.lucene/_n.nvd
target/classes/wiki.lucene/_n.nvm
target/classes/wiki.lucene/_n.si
target/classes/wiki.lucene/_n_Lucene50_0.doc
target/classes/wiki.lucene/_n_Lucene50_0.pos
target/classes/wiki.lucene/_n_Lucene50_0.tim
target/classes/wiki.lucene/_n_Lucene50_0.tip
target/classes/wiki.lucene/_o.cfe
target/classes/wiki.lucene/_o.cfs
target/classes/wiki.lucene/_o.si
target/classes/wiki.lucene/_p.cfe
target/classes/wiki.lucene/_p.cfs
target/classes/wiki.lucene/_p.si
target/classes/wiki.lucene/_q.cfe
target/classes/wiki.lucene/_q.cfs
target/classes/wiki.lucene/_q.si
target/classes/wiki.lucene/_r.cfe
target/classes/wiki.lucene/_r.cfs
target/classes/wiki.lucene/_r.si
target/classes/wiki.lucene/_s.cfe
target/classes/wiki.lucene/_s.cfs
target/classes/wiki.lucene/_s.si
target/classes/wiki.lucene/_t.cfe
target/classes/wiki.lucene/_t.cfs
target/classes/wiki.lucene/_t.si
target/classes/wiki.lucene/_u.cfe
target/classes/wiki.lucene/_u.cfs
target/classes/wiki.lucene/_u.si
target/classes/wiki.lucene/_v.cfe
target/classes/wiki.lucene/_v.cfs
target/classes/wiki.lucene/_v.si
target/classes/wiki.lucene/_w.cfe
target/classes/wiki.lucene/_w.cfs
target/classes/wiki.lucene/_w.si
target/classes/wiki.lucene/segments_1
target/classes/wiki.lucene/write.lock
src/main/resources/wiki.lucene/_n.cfe
src/main/resources/wiki.lucene/_n.cfs
src/main/resources/wiki.lucene/_o.fdt
src/main/resources/wiki.lucene/_o.fdx
src/main/resources/wiki.lucene/_o.fnm
src/main/resources/wiki.lucene/_o.nvd
src/main/resources/wiki.lucene/_o.nvm
src/main/resources/wiki.lucene/_o_Lucene50_0.doc
src/main/resources/wiki.lucene/_o_Lucene50_0.pos
src/main/resources/wiki.lucene/_o_Lucene50_0.tim
src/main/resources/wiki.lucene/_o_Lucene50_0.tip
target/classes/wiki.lucene/_n.cfe
target/classes/wiki.lucene/_n.cfs
target/classes/wiki.lucene/_o.fdt
target/classes/wiki.lucene/_o.fdx
target/classes/wiki.lucene/_o.fnm
target/classes/wiki.lucene/_o.nvd
target/classes/wiki.lucene/_o.nvm
target/classes/wiki.lucene/_o_Lucene50_0.doc
target/classes/wiki.lucene/_o_Lucene50_0.pos
target/classes/wiki.lucene/_o_Lucene50_0.tim
target/classes/wiki.lucene/_o_Lucene50_0.tip
src/main/resources/wiki.lucene/_c.fdt
src/main/resources/wiki.lucene/_c.fdx
src/main/resources/wiki.lucene/_c.fnm
src/main/resources/wiki.lucene/_c.nvd
src/main/resources/wiki.lucene/_c.nvm
src/main/resources/wiki.lucene/_c.si
src/main/resources/wiki.lucene/_c_Lucene50_0.doc
src/main/resources/wiki.lucene/_c_Lucene50_0.pos
src/main/resources/wiki.lucene/_c_Lucene50_0.tim
src/main/resources/wiki.lucene/_c_Lucene50_0.tip
target/classes/wiki.lucene/_c.fdt
target/classes/wiki.lucene/_c.fdx
target/classes/wiki.lucene/_c.fnm
target/classes/wiki.lucene/_c.nvd
target/classes/wiki.lucene/_c.nvm
target/classes/wiki.lucene/_c.si
target/classes/wiki.lucene/_c_Lucene50_0.doc
target/classes/wiki.lucene/_c_Lucene50_0.pos
target/classes/wiki.lucene/_c_Lucene50_0.tim
target/classes/wiki.lucene/_c_Lucene50_0.tip
src/main/resources/wiki.lucene/_f.cfe
src/main/resources/wiki.lucene/_f.cfs
src/main/resources/wiki.lucene/_f.si
src/main/resources/wiki.lucene/_m.cfe
src/main/resources/wiki.lucene/_m.cfs
src/main/resources/wiki.lucene/_m.si
target/classes/wiki.lucene/_f.cfe
target/classes/wiki.lucene/_f.cfs
target/classes/wiki.lucene/_f.si
target/classes/wiki.lucene/_m.cfe
target/classes/wiki.lucene/_m.cfs
target/classes/wiki.lucene/_m.si
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0005.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0006.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0007.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0009.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0013.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0014.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0016.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0017.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0018.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0020.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0021.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0022.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0025.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0026.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0032.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0033.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0034.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0035.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0039.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0040.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0042.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0043.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0048.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0049.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0051.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0052.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0053.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0054.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0057.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0058.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0062.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0067.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0087.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0088.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0093.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0095.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0098.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0099.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0100.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0103.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0115.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0123.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0124.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0125.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0128.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0129.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0130.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0131.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0132.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0136.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0146.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0151.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0153.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0174.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0185.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0203.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0215.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0216.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0226.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0268.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0348.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0363.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0540.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0555.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0567.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0593.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0597.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0689.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0714.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0766.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0806.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0813.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0833.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0841.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0856.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0964.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0985.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-1069.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-1129.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-1259.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0005.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0006.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0007.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0009.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0013.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0014.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0016.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0017.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0018.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0020.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0021.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0022.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0025.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0026.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0032.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0033.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0034.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0035.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0039.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0040.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0042.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0043.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0048.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0049.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0051.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0052.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0053.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0054.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0057.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0058.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0062.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0067.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0087.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0088.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0093.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0095.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0098.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0099.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0100.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0103.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0115.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0123.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0124.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0125.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0128.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0129.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0130.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0131.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0132.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0136.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0146.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0151.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0153.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0174.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0185.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0203.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0215.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0216.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0226.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0268.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0348.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0363.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0540.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0555.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0567.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0593.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0597.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0689.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0714.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0766.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0806.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0813.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0833.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0841.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0856.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0964.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0985.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-1069.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-1129.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-1259.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0005.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0006.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0007.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0009.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0013.txt
target/classes/WikiPages/enwiki-20140602-pages-articles.xml-0014.txt
