
src/main/resources/wiki.lucene/_0.cfe
src/main/resources/wiki.lucene/_0.cfs
src/main/resources/wiki.lucene/_0.si
src/main/resources/wiki.lucene/_1.cfe
src/main/resources/wiki.lucene/_1.cfs
src/main/resources/wiki.lucene/_1.si
src/main/resources/wiki.lucene/_d.fdt
src/main/resources/wiki.lucene/_d.fdx
src/main/resources/wiki.lucene/_d.fnm
src/main/resources/wiki.lucene/_d.nvd
src/main/resources/wiki.lucene/_d.nvm
src/main/resources/wiki.lucene/_d.si
src/main/resources/wiki.lucene/_d_Lucene50_0.doc
src/main/resources/wiki.lucene/_d_Lucene50_0.pos
src/main/resources/wiki.lucene/_d_Lucene50_0.tim
src/main/resources/wiki.lucene/_d_Lucene50_0.tip
src/main/resources/wiki.lucene/_n.fdt
src/main/resources/wiki.lucene/_n.fdx
src/main/resources/wiki.lucene/_n.fnm
src/main/resources/wiki.lucene/_n.nvd
src/main/resources/wiki.lucene/_n.nvm
src/main/resources/wiki.lucene/_n.si
src/main/resources/wiki.lucene/_n_Lucene50_0.doc
src/main/resources/wiki.lucene/_n_Lucene50_0.pos
src/main/resources/wiki.lucene/_n_Lucene50_0.tim
src/main/resources/wiki.lucene/_n_Lucene50_0.tip
src/main/resources/wiki.lucene/_o.cfe
src/main/resources/wiki.lucene/_o.cfs
src/main/resources/wiki.lucene/_o.si
src/main/resources/wiki.lucene/_p.cfe
src/main/resources/wiki.lucene/_p.cfs
src/main/resources/wiki.lucene/_p.si
src/main/resources/wiki.lucene/_q.cfe
src/main/resources/wiki.lucene/_q.cfs
src/main/resources/wiki.lucene/_q.si
src/main/resources/wiki.lucene/_r.cfe
src/main/resources/wiki.lucene/_r.cfs
src/main/resources/wiki.lucene/_r.si
src/main/resources/wiki.lucene/_s.cfe
src/main/resources/wiki.lucene/_s.cfs
src/main/resources/wiki.lucene/_s.si
src/main/resources/wiki.lucene/_t.cfe
src/main/resources/wiki.lucene/_t.cfs
src/main/resources/wiki.lucene/_t.si
src/main/resources/wiki.lucene/_u.cfe
src/main/resources/wiki.lucene/_u.cfs
src/main/resources/wiki.lucene/_u.si
src/main/resources/wiki.lucene/_v.cfe
src/main/resources/wiki.lucene/_v.cfs
src/main/resources/wiki.lucene/_v.si
src/main/resources/wiki.lucene/_w.cfe
src/main/resources/wiki.lucene/_w.cfs
src/main/resources/wiki.lucene/_w.si
src/main/resources/wiki.lucene/segments_1
src/main/resources/wiki.lucene/write.lock
target/classes/wiki.lucene/_0.cfe
target/classes/wiki.lucene/_0.cfs
target/classes/wiki.lucene/_0.si
target/classes/wiki.lucene/_1.cfe
target/classes/wiki.lucene/_1.cfs
target/classes/wiki.lucene/_1.si
target/classes/wiki.lucene/_d.fdt
target/classes/wiki.lucene/_d.fdx
target/classes/wiki.lucene/_d.fnm
target/classes/wiki.lucene/_d.nvd
target/classes/wiki.lucene/_d.nvm
target/classes/wiki.lucene/_d.si
target/classes/wiki.lucene/_d_Lucene50_0.doc
target/classes/wiki.lucene/_d_Lucene50_0.pos
target/classes/wiki.lucene/_d_Lucene50_0.tim
target/classes/wiki.lucene/_d_Lucene50_0.tip
target/classes/wiki.lucene/_n.fdt
target/classes/wiki.lucene/_n.fdx
target/classes/wiki.lucene/_n.fnm
target/classes/wiki.lucene/_n.nvd
target/classes/wiki.lucene/_n.nvm
target/classes/wiki.lucene/_n.si
target/classes/wiki.lucene/_n_Lucene50_0.doc
target/classes/wiki.lucene/_n_Lucene50_0.pos
target/classes/wiki.lucene/_n_Lucene50_0.tim
target/classes/wiki.lucene/_n_Lucene50_0.tip
target/classes/wiki.lucene/_o.cfe
target/classes/wiki.lucene/_o.cfs
target/classes/wiki.lucene/_o.si
target/classes/wiki.lucene/_p.cfe
target/classes/wiki.lucene/_p.cfs
target/classes/wiki.lucene/_p.si
target/classes/wiki.lucene/_q.cfe
target/classes/wiki.lucene/_q.cfs
target/classes/wiki.lucene/_q.si
target/classes/wiki.lucene/_r.cfe
target/classes/wiki.lucene/_r.cfs
target/classes/wiki.lucene/_r.si
target/classes/wiki.lucene/_s.cfe
target/classes/wiki.lucene/_s.cfs
target/classes/wiki.lucene/_s.si
target/classes/wiki.lucene/_t.cfe
target/classes/wiki.lucene/_t.cfs
target/classes/wiki.lucene/_t.si
target/classes/wiki.lucene/_u.cfe
target/classes/wiki.lucene/_u.cfs
target/classes/wiki.lucene/_u.si
target/classes/wiki.lucene/_v.cfe
target/classes/wiki.lucene/_v.cfs
target/classes/wiki.lucene/_v.si
target/classes/wiki.lucene/_w.cfe
target/classes/wiki.lucene/_w.cfs
target/classes/wiki.lucene/_w.si
target/classes/wiki.lucene/segments_1
target/classes/wiki.lucene/write.lock
src/main/resources/wiki.lucene/_19.cfe
src/main/resources/wiki.lucene/_19.cfs
src/main/resources/wiki.lucene/_19.si
src/main/resources/wiki.lucene/_1a.fdt
src/main/resources/wiki.lucene/_1a.fdx
src/main/resources/wiki.lucene/_1a.fnm
src/main/resources/wiki.lucene/_1a.nvd
src/main/resources/wiki.lucene/_1a.nvm
src/main/resources/wiki.lucene/_1a.si
src/main/resources/wiki.lucene/_1a_Lucene50_0.doc
src/main/resources/wiki.lucene/_1a_Lucene50_0.pos
src/main/resources/wiki.lucene/_1a_Lucene50_0.tim
src/main/resources/wiki.lucene/_1a_Lucene50_0.tip
src/main/resources/wiki.lucene/_1b.cfe
src/main/resources/wiki.lucene/_1b.cfs
src/main/resources/wiki.lucene/_1b.si
src/main/resources/wiki.lucene/_1c.cfe
src/main/resources/wiki.lucene/_1c.cfs
src/main/resources/wiki.lucene/_1c.si
src/main/resources/wiki.lucene/_1d.cfe
src/main/resources/wiki.lucene/_1d.cfs
src/main/resources/wiki.lucene/_1d.si
src/main/resources/wiki.lucene/_1e.cfe
src/main/resources/wiki.lucene/_1e.cfs
src/main/resources/wiki.lucene/_1e.si
src/main/resources/wiki.lucene/_1f.cfe
src/main/resources/wiki.lucene/_1f.cfs
src/main/resources/wiki.lucene/_1f.si
src/main/resources/wiki.lucene/_1g.cfe
src/main/resources/wiki.lucene/_1g.cfs
src/main/resources/wiki.lucene/_1g.si
src/main/resources/wiki.lucene/_2.cfe
src/main/resources/wiki.lucene/_2.cfs
src/main/resources/wiki.lucene/_2.si
src/main/resources/wiki.lucene/_c.fdt
src/main/resources/wiki.lucene/_c.fdx
src/main/resources/wiki.lucene/_c.fnm
src/main/resources/wiki.lucene/_c.nvd
src/main/resources/wiki.lucene/_c.nvm
src/main/resources/wiki.lucene/_c.si
src/main/resources/wiki.lucene/_c_Lucene50_0.doc
src/main/resources/wiki.lucene/_c_Lucene50_0.pos
src/main/resources/wiki.lucene/_c_Lucene50_0.tim
src/main/resources/wiki.lucene/_c_Lucene50_0.tip
src/main/resources/wiki.lucene/_f.cfe
src/main/resources/wiki.lucene/_f.cfs
src/main/resources/wiki.lucene/_f.si
src/main/resources/wiki.lucene/_z.fdt
src/main/resources/wiki.lucene/_z.fdx
src/main/resources/wiki.lucene/_z.fnm
src/main/resources/wiki.lucene/_z.nvd
src/main/resources/wiki.lucene/_z.nvm
src/main/resources/wiki.lucene/_z.si
src/main/resources/wiki.lucene/_z_Lucene50_0.doc
src/main/resources/wiki.lucene/_z_Lucene50_0.pos
src/main/resources/wiki.lucene/_z_Lucene50_0.tim
src/main/resources/wiki.lucene/_z_Lucene50_0.tip
target/classes/Index.class
target/classes/Query.class
target/classes/wiki.lucene/_19.cfe
target/classes/wiki.lucene/_19.cfs
target/classes/wiki.lucene/_19.si
target/classes/wiki.lucene/_1a.fdt
target/classes/wiki.lucene/_1a.fdx
target/classes/wiki.lucene/_1a.fnm
target/classes/wiki.lucene/_1a.nvd
target/classes/wiki.lucene/_1a.nvm
target/classes/wiki.lucene/_1a.si
target/classes/wiki.lucene/_1a_Lucene50_0.doc
target/classes/wiki.lucene/_1a_Lucene50_0.pos
target/classes/wiki.lucene/_1a_Lucene50_0.tim
target/classes/wiki.lucene/_1a_Lucene50_0.tip
target/classes/wiki.lucene/_1b.cfe
target/classes/wiki.lucene/_1b.cfs
target/classes/wiki.lucene/_1b.si
target/classes/wiki.lucene/_1c.cfe
target/classes/wiki.lucene/_1c.cfs
target/classes/wiki.lucene/_1c.si
target/classes/wiki.lucene/_1d.cfe
target/classes/wiki.lucene/_1d.cfs
target/classes/wiki.lucene/_1d.si
target/classes/wiki.lucene/_1e.cfe
target/classes/wiki.lucene/_1e.cfs
target/classes/wiki.lucene/_1e.si
target/classes/wiki.lucene/_1f.cfe
target/classes/wiki.lucene/_1f.cfs
target/classes/wiki.lucene/_1f.si
target/classes/wiki.lucene/_1g.cfe
target/classes/wiki.lucene/_1g.cfs
target/classes/wiki.lucene/_1g.si
target/classes/wiki.lucene/_2.cfe
target/classes/wiki.lucene/_2.cfs
target/classes/wiki.lucene/_2.si
target/classes/wiki.lucene/_c.fdt
target/classes/wiki.lucene/_c.fdx
target/classes/wiki.lucene/_c.fnm
target/classes/wiki.lucene/_c.nvd
target/classes/wiki.lucene/_c.nvm
target/classes/wiki.lucene/_c.si
target/classes/wiki.lucene/_c_Lucene50_0.doc
target/classes/wiki.lucene/_c_Lucene50_0.pos
target/classes/wiki.lucene/_c_Lucene50_0.tim
target/classes/wiki.lucene/_c_Lucene50_0.tip
target/classes/wiki.lucene/_f.cfe
target/classes/wiki.lucene/_f.cfs
target/classes/wiki.lucene/_f.si
target/classes/wiki.lucene/_z.fdt
target/classes/wiki.lucene/_z.fdx
target/classes/wiki.lucene/_z.fnm
target/classes/wiki.lucene/_z.nvd
target/classes/wiki.lucene/_z.nvm
target/classes/wiki.lucene/_z.si
target/classes/wiki.lucene/_z_Lucene50_0.doc
target/classes/wiki.lucene/_z_Lucene50_0.pos
target/classes/wiki.lucene/_z_Lucene50_0.tim
target/classes/wiki.lucene/_z_Lucene50_0.tip
